.back-icon{
    cursor: pointer;
}

.order-box{
    margin-top: 10px;
    height: 28vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    border: 1px solid blueviolet;
    .ordered-product{
        display: flex;
        align-items: baseline;
        .description{
            margin-left: 20px;
        }
    }
}