.top-actions{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    .back-icon{
        i{
            color: black;
        }
        cursor: pointer;
    }
    .send-order{
        cursor: pointer;
        i{
            color: #7c5327;
        }
    }
}

.top-actions-header{
    display: flex;
    align-items: baseline;
    .search-var{
        margin-right: 20px;
    }
}

.order-box{
    margin-top: 10px;
    height: 28vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    .ordered-product{
        display: flex;
        align-items: baseline;
        .description{
            margin-left: 20px;
        }
    }
}